<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <App.Properties.Settings>
            <setting name="access_token" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="repo_api_url" serializeAs="String">
                <value>https://api.github.com/repos/VoidSharpGithub/ReconReTuned</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>v1.0.6</value>
            </setting>
            <setting name="app_name" serializeAs="String">
                <value>Recon_ReTuned</value>
            </setting>
            <setting name="repo_url" serializeAs="String">
                <value>https://github.com/VoidSharpGithub/ReconReTuned</value>
            </setting>
        </App.Properties.Settings>
    </applicationSettings>
</configuration>